@import '../../base.scss';

.CategoriesBar {
    padding: 0.5rem 0;
    font-size: 0.8rem;

    display: flex;
    overflow-x: scroll;

    scrollbar-width: none;
    cursor: pointer;

    span {
        margin-right: 1rem;
        padding: 0.5rem;

        white-space: nowrap;
        border: 1.5px $text-color;
        border-radius: 8px;
        background-color: #272727;
        font-weight: 600;
        transition: background-color .5s cubic-bezier(.05,0,0,1);

        &:hover{
            background-color: #F1F1F1;
            color:#000000;
        }

        &.active{
            color: #000000;
            background-color: #F3F3F3;
            border-color: $border-color;
        }
    }
}